body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: darkgrey;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 400px;
    background: url('superb-sportline-interior-01.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Sonsie One', cursive;

}
.container {font-family: 'Sonsie One', cursive;}
/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 40px red;
    color: darkgrey;
    font-size: 70px;

}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
